.header {
  width: 100%;
position: fixed;
  top: 0;
  left:0;
  height:80px;
  
}
.link1{
    margin:20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(236, 205, 180);
    text-decoration: none;
    padding:10px;
}
.header_logo{
margin-right: 20%;
margin-left: 20px;
margin-top: 30px;
width:40%;

}
.header_content{
  margin-left:70%;
border:2px solid salmon;
}